* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #57a79a;
  width: 99vw;
}

.centre {
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
  background-color: cornflowerblue;
  height: 50px;
  padding: .5em 1em
}

nav {
  height: 100%;
  background-color: transparent;
}

#four-o-four header {
  display: block;
}

#four-o-four header h1 {
  width: 100%;
  text-align: center;
  color: crimson;
}

#four-o-four nav {
  width: 100%;
}

.btn {
  color: white;
  margin: auto .5em;
  height: 100%;
  border: solid 1px white;
  background-color: transparent;
  padding: .2em .5em;
  background-color: cornflowerblue;
  border-radius: 5px;
  text-decoration: none;
  vertical-align: middle;
  line-height: 25px;
  float: left;
}
#home a[href*="home"],
#about a[href*="about"],
#contact a[href*="contact"],
#profiles a[href*="profiles"]
{
  color: crimson;
}

h1 {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1:hover {
  cursor: pointer;
}

p {
  color: black;
}

h1, p {
  text-align: center;
}
.color-red {
  color: red;
}
table#profiles {
  width: 96%;
  margin: auto;
}

thead {
  background-color: gold;
}

tbody tr:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}

tr.selected {
  background-color: cornflowerblue !important;
}

thead tr th {
  padding: .25em;
}

tr:nth-child(even) {
  background-color: lightyellow;
}

td {
  padding: .25em .5em;
}

#contact-selected {
  display: none;
  width: 96%;
  margin: auto;
  padding: 1em;
  min-height: 25em;
  background-color: cornflowerblue;
  border: solid 2px white;
  border-radius: 5px;
}

#contact-selected.visible {
  display: block;
}

#contact-selected .hdg {
  text-align: center;
}

#contact-selected p {
  text-align: left;
  padding: 1em;
  margin-bottom: 1em;
}

#contact-selected label {
  display: inline-block;
  width: 5em;
}

#contact-selected textarea {
  width: 100%;
}

.btn.submit {
  font-size: 1.2em;
  margin-bottom: 2em;
}

/* reponse */
#response .center {
  display: flex;
  justify-content: center;
}
