* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 99vw;
}

.centre {
  width: 70%;
  margin: auto;
}

header {
  width: 100%;
  background-color: cornflowerblue;
  height: 50px;
  padding: .5em 1em
}

nav {
  height: 100%;
  background-color: transparent;
}

#four-o-four header {
  display: block;
}

#four-o-four header h1 {
  width: 100%;
  text-align: center;
  color: crimson;
}

#four-o-four nav {
  width: 100%;
}

.btn {
  color: white;
  margin: auto .5em;
  height: 100%;
  border: solid 1px white;
  background-color: transparent;
  padding: .2em .5em;
  background-color: cornflowerblue;
  border-radius: 5px;
  text-decoration: none;
  vertical-align: middle;
  line-height: 25px;
  float: left;
}
.btn.selected {
  color: crimson;
}

h1 {
  color: #56a79a;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1:hover {
  cursor: pointer;
}
p {
  color: cornflowerblue;
}
h1, p {
  text-align: center;
}
.color-red {
  color: red;
}