doctype html
html
  head
    include includes/headContent.pug
  body(id="about")
    include includes/nav.pug
    div(class="centre")

      h1(id="heading1") 404!
      p OOPS! Something went wrong!
      p That address does not exist on this site. Please click Home.

      a(class="btn" href="/home") Home