<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nodejs | 404</title>
    <link href="../style/style.css" rel="stylesheet" type="text/css">
  </head>
  <body id="four-o-four">
    <div class="centre">
      <header>
        <h1>404</h1>
      </header>
      <p>OOPS! Something went wrong!</p>
      <p>That address does not exist on this site. Please click Home.</p>
      <nav>
        <a class="btn" href="/">Home</a>
      </nav>
    </div>
  </body>
</html>
