doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Nodejs | piping html
    style
      include ../style/style.css
  body(id="contact")
    div(class="centre")
      header
        nav
          a(class="btn" href="/") Home
          a(class="btn selected" href="/about") About
          a(class="btn" href="/profiles") Profiles
          a(class="btn" href="/contact") Contact

      h1(id="heading1") About
      p Hire a web ninja for all your development needs.
