doctype html
html
  head
    include includes/headContent.pug
  body(id="about")
    div(class="centre")
      include includes/nav.pug

      h1(id="heading1") About
      p Hire a web ninja for all your development needs.
