doctype html
html
  head
    include includes/headContent.pug
  body(id="about")
    include includes/nav.pug
    div(class="centre")

      h1(id="heading1") About
      p Hire a web ninja for all your development needs.
