doctype html
html
  head
    include includes/headContent.pug
  body(id="contact")
    div(class="centre")
      include includes/nav.pug

      h1(id="heading1") Contact
      p for more information you can use the form below to contact me.
