doctype html
html
  head
    include includes/headContent.pug
  body(id="contact")
    include includes/nav.pug
    div(class="centre")

      h1(id="heading1") Contact
      p for more information you can use the form below to contact me.
      br
      br
      a(href="/profiles/?name=hamish&job=Astrophysicist") Contact an Astrophysicist
