doctype html
html
  head
    include includes/headContent.pug
  body(id="home")
    include includes/nav.pug
    div(class="centre")

      h1(id="heading1") Using Express.js
      p using nodejs
      p(id="result")
      br
      br
      a(href="/profiles/2") Hannibal
      br
      br
      button(id="getProfile" onClick="getProfile(3)") get a profile

  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  script(src="scripts/script.js")
