doctype html
html
  head
    include includes/headContent.pug
  body(id="profiles")
    div(class="centre")
      include includes/nav.pug

      h1 Meet the team
      table(id="profiles")
        thead
          tr
            th Name
            th Age
            th Gender
            th Comment
        each val in JSON.parse(profiles)
          tr
            td= val.name
            td= val.age
            td= val.gender
            td= val.comments
